
@font-face {
    font-family: 'Avenir LT Std';
    src: url('./../fonts/Circular-Font-Family-2/AvenirLTStd-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('./../fonts/Circular-Font-Family-2/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('./../fonts/Circular-Font-Family-2/AvenirLTStd-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('./../fonts/Circular-Font-Family-2/AvenirLTStd-HeavyOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('./../fonts/Circular-Font-Family-2/AvenirLTStd-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('./../fonts/Circular-Font-Family-2/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('./../fonts/Circular-Font-Family-2/AvenirLTStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('./../fonts/Circular-Font-Family-2/AvenirLTStd-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-BookItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('./../fonts/Circular-Font-Family-2/AvenirLTStd-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('./../fonts/Circular-Font-Family-2/AvenirLTStd-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('./../fonts/Circular-Font-Family-2/AvenirLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('./../fonts/Circular-Font-Family-2/AvenirLTStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./../fonts/Circular-Font-Family-2/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./../fonts/Circular-Font-Family-2/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./../fonts/Circular-Font-Family-2/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-XLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./../fonts/Circular-Font-Family-2/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-BookItalic_1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./../fonts/Circular-Font-Family-2/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-XLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-UltraItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./../fonts/Circular-Font-Family-2/ProductSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./../fonts/Circular-Font-Family-2/Gotham-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Century Schoolbook';
    src: url('@fonts/century_schoolbook/CenturySchoolbook-Bold.eot');
    src: url('@fonts/century_schoolbook/CenturySchoolbook-Bold.eot?#iefix') format('embedded-opentype'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Bold.woff2') format('woff2'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Bold.woff') format('woff'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('@fonts/century_schoolbook/CenturySchoolbook-Italic.eot');
    src: url('@fonts/century_schoolbook/CenturySchoolbook-Italic.eot?#iefix') format('embedded-opentype'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Italic.woff2') format('woff2'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Italic.woff') format('woff'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('@fonts/century_schoolbook/CenturySchoolbook-BoldItalic.eot');
    src: url('@fonts/century_schoolbook/CenturySchoolbook-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('@fonts/century_schoolbook/CenturySchoolbook-BoldItalic.woff2') format('woff2'),
        url('@fonts/century_schoolbook/CenturySchoolbook-BoldItalic.woff') format('woff'),
        url('@fonts/century_schoolbook/CenturySchoolbook-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('@fonts/century_schoolbook/CenturySchoolbook.eot');
    src: url('@fonts/century_schoolbook/CenturySchoolbook.eot?#iefix') format('embedded-opentype'),
        url('@fonts/century_schoolbook/CenturySchoolbook.woff2') format('woff2'),
        url('@fonts/century_schoolbook/CenturySchoolbook.woff') format('woff'),
        url('@fonts/century_schoolbook/CenturySchoolbook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('@fonts/century_schoolbook/CenturySchoolbook-Bold_1.eot');
    src: url('@fonts/century_schoolbook/CenturySchoolbook-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Bold_1.woff2') format('woff2'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Bold_1.woff') format('woff'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('@fonts/century_schoolbook/CenturySchoolbook_1.eot');
    src: url('@fonts/century_schoolbook/CenturySchoolbook_1.eot?#iefix') format('embedded-opentype'),
        url('@fonts/century_schoolbook/CenturySchoolbook_1.woff2') format('woff2'),
        url('@fonts/century_schoolbook/CenturySchoolbook_1.woff') format('woff'),
        url('@fonts/century_schoolbook/CenturySchoolbook_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('@fonts/century_schoolbook/CenturySchoolbook-Bold_2.eot');
    src: url('@fonts/century_schoolbook/CenturySchoolbook-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Bold_2.woff2') format('woff2'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Bold_2.woff') format('woff'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Bold_2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('@fonts/century_schoolbook/CenturySchoolbook_2.eot');
    src: url('@fonts/century_schoolbook/CenturySchoolbook_2.eot?#iefix') format('embedded-opentype'),
        url('@fonts/century_schoolbook/CenturySchoolbook_2.woff2') format('woff2'),
        url('@fonts/century_schoolbook/CenturySchoolbook_2.woff') format('woff'),
        url('@fonts/century_schoolbook/CenturySchoolbook_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('@fonts/century_schoolbook/CenturySchoolbook-Bold_3.eot');
    src: url('@fonts/century_schoolbook/CenturySchoolbook-Bold_3.eot?#iefix') format('embedded-opentype'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Bold_3.woff2') format('woff2'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Bold_3.woff') format('woff'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Bold_3.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('@fonts/century_schoolbook/CenturySchoolbook-Italic_1.eot');
    src: url('@fonts/century_schoolbook/CenturySchoolbook-Italic_1.eot?#iefix') format('embedded-opentype'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Italic_1.woff2') format('woff2'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Italic_1.woff') format('woff'),
        url('@fonts/century_schoolbook/CenturySchoolbook-Italic_1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('@fonts/century_schoolbook/CenturySchoolbook-BoldItalic_1.eot');
    src: url('@fonts/century_schoolbook/CenturySchoolbook-BoldItalic_1.eot?#iefix') format('embedded-opentype'),
        url('@fonts/century_schoolbook/CenturySchoolbook-BoldItalic_1.woff2') format('woff2'),
        url('@fonts/century_schoolbook/CenturySchoolbook-BoldItalic_1.woff') format('woff'),
        url('@fonts/century_schoolbook/CenturySchoolbook-BoldItalic_1.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Cervo';
    src: url('@fonts/Cervo-Thin.eot');
    src: url('@fonts/Cervo-Thin.eot?#iefix') format('embedded-opentype'),
        url('@fonts/Cervo-Thin.woff2') format('woff2'),
        url('@fonts/Cervo-Thin.woff') format('woff'),
        url('@fonts/Cervo-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cervo';
    src: url('@fonts/Cervo-Thin_1.eot');
    src: url('@fonts/Cervo-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('@fonts/Cervo-Thin_1.woff2') format('woff2'),
        url('@fonts/Cervo-Thin_1.woff') format('woff'),
        url('@fonts/Cervo-Thin_1.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

