
.landing-page__container {
	position: relative;

	/padding-top: var(--page-p-top);
}

.landing-page__container .landing-page__intro-image {
	height: 100vh ;
	overflow: hidden;
}

.landing-page__container .landing-page__intro-image img {
	object-position: top;
}

.landing-page__container .landing-page__intro-image .image-banner__content {
	bottom: 0;
	top: unset;
	padding-bottom: var(--section-padding);
}

.landing-page__container .landing-page__intro-image .image-overlay {
	background: linear-gradient(180deg, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.6) 40%,  rgba(0,0,0,0.1) 60%, rgba(0,0,0,0) 100%);
    opacity: 1;
}

.landing-page__container .landing-page__intro-image h1 {
	margin: 0;
	font-family: CS1;
	letter-spacing: 2px;
}

.landing-page__container .landing-page__intro-image h1 span {
	color: var(--btn-color-1);
}

.landing-page__container .landing-page__find-your-home-image {
	height: auto;
}
.landing-page__container .landing-page__find-your-home-image .image-banner__images-container {
	height: 60vh;
}

@media screen and (min-width: 600px) {
	.landing-page__container .landing-page__find-your-home-image .image-banner__images-container {
		height: 80vh;
	}
}

.landing-page__container .landing-page__find-your-home-image .image-banner__content {
	top: 50%;
    transform: translateY(-50%);
}

.landing-page__container .landing-page__find-your-home-image .image-overlay {
	background: linear-gradient(219deg, rgba(0,0,0,0.1) 30%, rgba(0,0,0,0.6) 52%, rgba(0,0,0,0.8) 80%);
}

.landing-page__container .landing-page__find-your-home-image .cta-btn:hover {

}

.landing-page__container .landing-video__container {
	display: flex;
}
.landing-page__container .landing-video__container video {
	max-width: 100%;
}