
.models-page__container {
	position: relative;
	/padding-top: 80px;
	--grid-gap:  10px;
}

.models-page__container .models-houses__container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
    margin-bottom: 40px;
}

.models-page__container .models-houses__container .models-houses__item {
	width: 100%;
	margin-bottom: calc(3*var(--grid-gap));
}

@media screen and (min-width: 768px) {
	.models-page__container .models-houses__container .models-houses__item {
		margin-bottom: calc(2*var(--grid-gap));
		margin-right: var(--grid-gap);
		width: auto;
	}

	.models-page__container .models-houses__container.col-3 .models-houses__item:nth-of-type(3n+3) {
		margin-right: 0;
	}

	.models-page__container .models-houses__container.col-3 .models-houses__item {
		flex: 0 0 calc((100% - 2*var(--grid-gap)) / 3);
	}
}

.models-page__container .models-houses__container .models-houses__item a {
    text-decoration: none;
    color: #000;
}

.models-page__container .models-houses__container .models-houses__item:last-child {
	margin-right: 0;
}



.models-page__container .models-houses__container .models-houses__item-wrapper {
	padding: var(--grid-gap);
    background-color: #F1F1F2;
}

.models-page__container .models-houses__container .models-houses__item-content {
	border: 1px solid #c1c1c1;
    padding: 20px 10px;
}

.models-page__container .models-houses__container .models-houses__item-heading {
	display: flex;
	justify-content: space-around;
}

.models-page__container .models-houses__container  .models-houses__item-description span {
	background-color: var(--btn-color-2);
    color: white;
    padding: var(--btn-padding-sm);
    border-radius: 100px;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1.2;
}

.models-page__container .models-houses__container  .models-houses__item-description span.models-houses__item-rooms {
	background-color: var(--hermes-green-1);
}

.models-page__container .models-houses__container  .models-houses__item-description span.models-houses__item-rooms.large {
	background-color: var(--hermes-blue-2);
}

.models-page__container .models-houses__container  .models-houses__item-description span.preorder {
	background-color: var(--btn-color-1);
}

.models-page__container .models-houses__container .models-houses__item-description h3,
.models-page__container .models-houses__container .models-houses__item-description h4 {
	margin: 0;
}

.models-page__container .models-houses__container .models-houses__item-description h4 {
	display: inline-block;
	width: 50%;
    font-family: var(--font-heading-2);
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #5c5c5c;
}

.models-page__container .models-houses__container .models-houses__item-description .models-houses__item-title {
	margin-top: 26px;
	font-weight: 400;
    font-family: var(--font-heading-2);
    font-size: 24px;
    letter-spacing: 2px;
    color: #484848;
	text-transform: uppercase;
}

.models-page__container .models-houses__container .models-houses__item-description .models-houses__item-size {
    transform: translateX(2px);
}

.models-page__container .models-houses__container .models-houses__item-description .models-houses__item-price {
	text-align: right;
	margin-top: 6px;
}

.models-page__container .models-houses__container .models-houses__item-characteristics {
	margin: 0;
    margin-top: 10px;
    padding: 10px 20px;
    border-top: 1px solid #dadada;
    columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
}

.models-page__container .models-houses__container .models-houses__item-characteristics li {
    margin-top: 8px;
    font-family: var(--font-heading-2);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #707070;
}

@media screen and (min-width: 768px) {
	.models-page__container .models-houses__container .models-houses__item-characteristics {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}

	.models-page__container .models-houses__container .models-houses__item-characteristics li {
	    margin-top: 10px;
	}
}

.models-page__container .models-houses__container .models-houses__item-characteristics li:first-child {
    margin-top: 0;
}