@import '@css/theme';

.model-page__c {
	@apply relative pb-[calc(var(--space-outer)*2)];
    --page-top-padding: 80px;
    --details-grid-gap: 20px;

    .image-banner__container {
    	@apply overflow-hidden;
	}

	.model-page__details-container {
		@apply page-max-w;
		@apply mt-[var(--space-outer)];
	}

	.model-description__c {
	   	@apply bg-[rgb(241,241,242)] ;
	    @apply p-4;

	    .col.left .model-description__detail:nth-child(1) {
	    	@apply mt-0;
		}

	    .model-description__inner-content {
		    padding: 20px 10px;
	    	@apply p-4 border border-[#c1c1c1];
		}

		.model-description__detail {
			@apply flex items-center mt-[4%] ;

			&.size .model-description__detail-data {
				text-transform: initial;
			}

			&.title .model-description__detail-title {
				@apply bg-hermes-orange;
			}
			&.status .model-description__detail-title {
				@apply bg-hermes-orange-light;
			}
			&.status.preorder .model-description__detail-title {
				@apply bg-hermes-orange-dark;
			}
			&.rooms .model-description__detail-title {
				@apply bg-hermes-green;
			}
			&.rooms.large .model-description__detail-title {
				@apply bg-hermes-blue;
			}
			&.size .model-description__detail-title {
				@apply bg-hermes-red;
			}
			&.price .model-description__detail-title {
				@apply bg-hermes-green;
			}

		    .model-description__detail-title {
		    	@apply tag tag--md;
		    	@apply lowercase tracking-2;
		    	@apply grow shrink basis-12;
		    	@apply rounded-full bg-[var(--main-color)] text-white;
			}

			.model-description__detail-data {
				@apply body body--md;
				@apply text-[#484848] uppercase;
				@apply flex-[1_1_40%] ml-6 pt-0.5;
			}
		}
	}

	.gallery-carousel__c {
		@apply mt-[var(--space-outer)] h-screen-1/5;
		.gallery-carousel__houses-container {
			@apply flex-1 ;
		}
	}

	.floor-plan__c {
		@apply page-max-w;
		.image-banner__c {
			@apply h-auto;
			img {
				@apply object-contain;
			}
		}

		.floor-plan__technical-details {
		    h3 {
				@apply mt-8 px-4 py-1 bg-hermes-orange-light text-white;
				@apply heading heading--md;
				@apply tracking-1;
			}

			.floor-plan__data {
				@apply flex flex-wrap m-4; 

				span {
					@apply shrink-0 grow-0 basis-3/4 mt-2;
					@apply body body--md;
					@apply font-semibold;

					&:nth-child(2n+2) {
						@apply shrink-0 grow-0 basis-1/4;
					}
				}				
			}
		}		

	}
}





@media screen and (min-width: 1024px) {
	.model-page__c {
    	--details-grid-gap: 14px;
	}
}

@media screen and (min-width: 1024px) {
	.model-page__c .model-page__details-container {
	    display: grid;
	    /grid-template-columns: repeat(3, 1fr);
	    /grid-template-rows: repeat(2, 1fr);
        grid-auto-columns: auto;
        grid-auto-rows: auto;
	}
}

@media screen and (min-width: 600px) {
	.model-page__c .model-description__c .model-description__inner-content {
	    padding: 20px;
	}
}

@media screen and (min-width: 1024px) {
	.model-page__c .model-description__c .model-description__details {
		display: flex;
	}

	.model-page__c .model-description__c .model-description__details .col {
		flex: 0 0 50%;
	}

	.model-page__c .model-description__c .col.right .model-description__detail:nth-child(1) {
	    margin-top: 0;
	}

	.model-page__c .model-description__c .model-description__detail .model-description__detail-title {
		font-size: 18px;
	}
}


@media screen and (min-width: 1024px) {
	.model-page__c .model-description__c .model-description__detail .model-description__detail-data {
		font-size: 24px;
	}
}



@media screen and (min-width: 1024px) {
	.model-page__c .model-description__c .model-description__characteristics {
		columns: 2;
	  	-webkit-columns: 2;
	  	-moz-columns: 2;
	}
}



@media screen and (min-width: 1024px) {
	.model-page__c .model-description__c {
		grid-area: 1 / 1 / 1 / 3;
	}

	.model-page__c .gallery-carousel__container {
	    grid-area: 2 / 1 / 2 / 3;
    	margin-top: var(--details-grid-gap);
	}

	.model-page__c .model-page__contacts-container {
		padding: 50px 70px;
		grid-area: 1 / 3 / 3 / 3;
    	margin-top: 0;
	}
}


@media screen and (min-width: 1024px) {
	.model-page__c .floor-plan__container {
	    display: flex;
	    flex-direction: row;
	}

	.model-page__c .floor-plan__container .image-banner__container{
	    flex: 0 0 61%;
	    padding-top: 61%;
	}

	.model-page__c .floor-plan__container .floor-plan__technical-details {
	    flex: 0 0 35%;
	    margin-left: 4%;
	}
}
