
.footer__container {
	background-color: #494949;
	background-color: #05535c;
	/background-color: #034951;
	color: #fff;
	padding-top: 20px;
    padding-bottom: 20px;
}

.footer__container .footer__navigation {
	display: flex;
    flex-direction: column;
}

.footer__container .footer__navigation-container-section {
    flex: 0 0 100%;
	display: flex;
}

.footer__container .footer__navigation-container-section.top {
    justify-content: space-between;
}
.footer__container .footer__navigation-container-section.bottom {
	margin-top: 20px;
	justify-content: flex-end;
}
.footer__container .footer__navigation-container {
	display: inline-flex;
	list-style: none;
	padding: 0;
	margin:  0;
	flex-direction: column;
}

.footer__container .footer__navigation-container.right {
}

@media screen and (min-width: 600px) {
	.footer__container .footer__navigation-container {
		flex-direction: row;
	}
}

.footer__container .footer__navigation-item {
	list-style: none;
	text-transform: lowercase;
	margin-top: 5px;
}

@media screen and (min-width: 600px) {
	.footer__container .footer__navigation-item {
		margin-left: 20px;
	}
	.footer__container .footer__navigation-item:first-child {
		margin-left: 0;
	}
}

.footer__container .footer__navigation-item.findyourhome a{
	    color: var(--btn-color-1);
}

.footer__container .footer__navigation-item:first-child {
	margin-top: 0;
}

.footer__container .footer__navigation-item:last-child {
	margin-right: 0;
}

.footer__container .footer__navigation-item a {
	color: #fff;
	text-decoration: none;
    font-family: var(--font-heading-1);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1;
}

.footer__container .footer__navigation-container-section.bottom .footer__navigation-item a {
	letter-spacing: 3px;
    font-size: 10px;
    color: #e4e4e4;
}

@media screen and (min-width: 600px) {
	.footer__container .footer__navigation-item {
		margin-top: 0;
	}

	.footer__container .footer__navigation-item a {
    	font-size: 14px;

	}
	
	.footer__container .footer__navigation-container-section.bottom .footer__navigation-item a {
    	font-size: 12px;
	}

}




.footer__container .footer__logo-slogan {
	display: inline-flex;
	align-items: center;
    font-size: 10px;
    letter-spacing: 1px;
}

.footer__container .footer__logo-slogan-text span {
    color: var(--btn-color-1);
}

.footer__container .kinokuke-logo__container {
	margin-right: 10px;
}

@media screen and (min-width: 600px) {
	.footer__container .footer__logo-slogan {
    	font-size: 14px;
	}

	.footer__container .kinokuke-logo__container {
		margin-right: 14px;
	}
}
.footer__container .footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer__container .footer__social {
	display: inline-flex;
	align-items: center;
}

.footer__container .icon_container {
	display: inline-flex;
	margin-right: 14px;
}

.footer__container .icon_container:last-child {
	margin-right: 0px;
}

.footer__container .footer__social .icon {
	background-color: #FFF;
	width: 24px; height: 24px;
}

.footer__container .icon_container.youtube {
    margin-top: 2px;
}

.footer__container .icon_container.youtube .icon {
	width: 27px;
    height: 27px;
}

.footer__container .icon_container.linkedin {
    margin-top: -1px;
}

.footer__container .footer-copyright {
    font-family: var(--font-heading-2);
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 12px;
    color: #c7c7c7;
}