/*
	2 COL - 4 COL

*/
.gallery-masonry__container {
	--grid-gap: 4px;
	--grid-height: 200vh;
}
@media screen and (min-width: 600px) {
	.gallery-masonry__container {
		--grid-gap: 10px;
		--grid-height: 250vh;
	}
}
@media screen and (min-width: 1400px) {
	.gallery-masonry__container {
		--grid-height: 200vh;
	}
}
.gallery-masonry__container .gallery-masonry__grid {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	/*grid-template-rows: repeat(14, 1fr);*/

	grid-auto-flow: dense; /* fill all the cells */
	grid-auto-rows: 1fr; /* define only the size of each row */

	row-gap: var(--grid-gap);
	column-gap: var(--grid-gap);

	width: 100%;
	height: 100%;
	/max-height: var(--grid-height);
	height: var(--grid-height);

	padding: var(--section-padding) calc(var(--section-padding) / 3 * 2);

	background-color: #FFF;
}

.gallery-masonry__container .gallery-masonry__grid-item {
	cursor: zoom-in;
}

.gallery-masonry__container .gallery-masonry__modal-hide {
	position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
}

.gallery-masonry__container .gallery-masonry__modal-hide .icon {
    background-color: #9f9f9f;
    width: 40px;
    height: 40px;
}
/*
.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(1) { 	grid-column: 1 / -1;	grid-row: 1 / 3; }

.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(2) { 	grid-column: 1 /  9;	grid-row: 3 / 6; }
.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(3) { 	grid-column: 9 / -1;	grid-row: 3 / 5; }
.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(4) { 	grid-column: 9 / -1;	grid-row: 5 / 6; }

.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(5) { 	grid-column: 1 /  8;	grid-row: 6 / 10; }
.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(6) { 	grid-column: 8 / -1;	grid-row: 6 / 7; }
.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(7) { 	grid-column: 8 / -1;	grid-row: 7 / 10; }

.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(8) { 	grid-column: 1 / -1;	grid-row: 10 / 13; }

.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(9) { 	grid-column: 1 / 9;		grid-row: 13 / 14; }
.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(10) { 	grid-column: 9 / -1;	grid-row: 13 / 14; }
*/

.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(12n+1) { 	grid-column: span 16;	grid-row: span 1; }

.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(12n+2) { 	grid-column: span 8;	grid-row: span 3; }
.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(12n+3) { 	grid-column: span 8;	grid-row: span 2; }
.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(12n+4) { 	grid-column: span 8;	grid-row: span 1; }

.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(12n+5) { 	grid-column: span 7;	grid-row: span 3; }
.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(12n+6) { 	grid-column: span 9;	grid-row: span 2; }
.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(12n+7) { 	grid-column: span 9;	grid-row: span 3; }
.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(12n+8) { 	grid-column: span 7;	grid-row: span 1; }
.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(12n+9) { 	grid-column: span 7;	grid-row: span 1; }

.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(12n+10) { 	grid-column: span 16;	grid-row: span 2; }

.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(12n+11) { 	grid-column: span 8;	grid-row: span 1; }
.gallery-masonry__container.col-2 .gallery-masonry__grid-item:nth-child(12n+12) { 	grid-column: span 8;	grid-row: span 1; }

@media screen and (min-width: 600px) {
	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+1) { 	grid-column: span 16;	grid-row: span 2; }

	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+2) { 	grid-column: span 5;	grid-row: span 4; }
	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+3) { 	grid-column: span 11;	grid-row: span 2; }
	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+4) { 	grid-column: span 6;	grid-row: span 2; }
	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+5) { 	grid-column: span 5;	grid-row: span 4; }
	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+6) { 	grid-column: span 11;	grid-row: span 2; }

	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+7) { 	grid-column: span 8;	grid-row: span 4; }
	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+8) { 	grid-column: span 8;	grid-row: span 2; }
	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+9) { 	grid-column: span 8;	grid-row: span 4; }
	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+10) { 	grid-column: span 8;	grid-row: span 2; }

	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+11) { 	grid-column: span 16;	grid-row: span 2; }

	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+12) { 	grid-column: span 6;	grid-row: span 4; }
	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+13) { 	grid-column: span 10;	grid-row: span 2; }
	.gallery-masonry__container.col-3 .gallery-masonry__grid-item:nth-child(14n+14) { 	grid-column: span 10;	grid-row: span 2; }
}

@media screen and (min-width: 1400px) {
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+1) { 	grid-column: span 16;	grid-row: span 2; }

	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+2) { 	grid-column: span 4;	grid-row: span 1; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+3) { 	grid-column: span 4;	grid-row: span 3; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+4) { 	grid-column: span 4;	grid-row: span 2; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+5) { 	grid-column: span 4;	grid-row: span 4; }

	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+6) { 	grid-column: span 4;	grid-row: span 3; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+7) { 	grid-column: span 4;	grid-row: span 3; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+8) { 	grid-column: span 4;	grid-row: span 2; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+9) { 	grid-column: span 4;	grid-row: span 2; }

	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+10) { 	grid-column: span 8;	grid-row: span 2; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+11) { 	grid-column: span 4;	grid-row: span 1; }


	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+12) { 	grid-column: span 4;	grid-row: span 2; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+13) { 	grid-column: span 4;	grid-row: span 1; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+14) { 	grid-column: span 8;	grid-row: span 2; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+15) { 	grid-column: span 8;	grid-row: span 2; }

	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+16) { 	grid-column: span 4;	grid-row: span 2; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+17) { 	grid-column: span 4;	grid-row: span 1; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+18) { 	grid-column: span 4;	grid-row: span 2; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+19) { 	grid-column: span 4;	grid-row: span 1; }

	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+20) { 	grid-column: span 4;	grid-row: span 1; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+21) { 	grid-column: span 4;	grid-row: span 2; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+22) { 	grid-column: span 8;	grid-row: span 2; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+23) { 	grid-column: span 4;	grid-row: span 1; }

	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+24) { 	grid-column: span 4;	grid-row: span 1; }
	.gallery-masonry__container.col-4 .gallery-masonry__grid-item:nth-child(25n+25) { 	grid-column: span 4;	grid-row: span 1; }

}




.gallery-masonry__container .gallery-masonry__modal {
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -200;
    opacity: 0;
	visibility: hidden;

    display: flex;
    align-items: center;

    transition: opacity .5s ease-in-out, z-index .7s ease-in;
}

.gallery-masonry__container .gallery-masonry__modal.visible {
    z-index: 200;
    opacity: 1;
	visibility: visible;

    transition: opacity .5s ease-in-out;
}

.gallery-masonry__container .gallery-masonry__modal-background {
	background: #000000f0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.gallery-masonry__container .gallery-masonry__modal-gallery {
	display: inline-flex;
	/height: 100%;
    align-items: center;
    z-index: 1;

    width: 100%;
}

.gallery-masonry__container .gallery-masonry__modal-slider-wrapper {
	overflow-x: hidden;
	display: inline-flex;

	overflow-x: clip;
	width: 100%;
}

.gallery-masonry__container .gallery-masonry__modal-slider {
	flex: 0 0 calc(100%);

	display: flex;
}
.gallery-masonry__container .gallery-masonry__modal.visible .gallery-masonry__modal-slider {
	transition: transform .5s ease-in-out;
}

.gallery-masonry__container .gallery-masonry__modal-slide {
	flex: 0 0 calc(100%);
}

.gallery-masonry__container .gallery-masonry__modal .image-wrapper {
	/*
	width: fit-content;
    height: fit-content;
    */
    position: relative;
}

.gallery-masonry__container .gallery-masonry__modal .image-wrapper img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
	max-height: calc(100vh - var(--section-padding));

	object-fit: contain;	
}

.gallery-masonry__container .gallery-masonry__modal.visible .image-wrapper img {
}

.gallery-masonry__container .gallery-masonry__load-btn-wrapper {
	display: flex;
    justify-content: center;
    background-color: #FFF;
    padding-bottom: var(--section-padding);
}

.gallery-masonry__container .gallery-masonry__load-btn {
	border-radius: 100px;
	font-size: 12px;
	line-height: 1;
	padding: var(--btn-padding-md);

	border: 1px solid #c7c7c7;
	color: #737373;

	font-family: var(--font-heading-1);
	text-transform: lowercase;
	letter-spacing: 3px;
	transition: opacity .3s ease;
	cursor: pointer;
}

.gallery-masonry__container .gallery-masonry__load-btn:hover {
	opacity: 0.7;
}

@media screen and (min-width: 600px) {
	.gallery-masonry__container .gallery-masonry__load-btn {
		font-size: 20px;
	}
}