.google-map__container {
}

.google-map__container .google-map__map-wrapper {
}

.google-map__container .google-map__location {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.google-map__container .icon_container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -40px);
}

.google-map__container .icon {
    width: 40px;
    height: 40px;
    background-color: var(--hermes-orange-2);
}

.google-map__container .google-map__location span{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
}