
.image-carousel__container {
	position: relative;
	height: 100vh;
	max-height: 90vh;
}


.image-carousel__container .nav-arrow {
    right: 4px;
}

.image-carousel__container .image-carousel__start-btn {
	position: absolute;
	right: var(--section-padding);

	padding: var(--btn-padding-md);
	padding-top: 7px;
    background-color: var(--btn-color-1);
    border-radius: 100px;

	font-family: var(--font-heading-2);
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    color: #FFF;
    letter-spacing: 3px;
    text-transform: uppercase;

    top: -34px;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
	.image-carousel__container .image-carousel__start-btn {
		padding: var(--btn-padding-lg);
	    padding-top: 11px;
		font-size: 14px;
    	top: -41px;
	}
}

@media screen and (min-width: 1024px) {
	.image-carousel__container .image-carousel__start-btn {
		font-size: 20px;
	    top: -48px;
	    letter-spacing: 4px;
	}
}

.image-carousel__container .image-carousel__start-btn.disabled {
	opacity: 0.5;
	cursor: default;
}

.image-carousel__container .image-carousel__view-box {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;

    overflow: hidden;
	display: inline-flex;
}

.image-carousel__container .image-carousel__view-box-left,
.image-carousel__container .image-carousel__view-box-right {
	flex: 1;

	background: rgb(0,0,0, 0.5);
}

.image-carousel__container .image-carousel__view-box-center {
	flex: 0 0 40%;

	background: rgb(0,0,0, 0.5);
	background: radial-gradient(circle, rgba(0,0,0,0.05) 35%, rgba(0,0,0,0.2) 40%, rgba(0,0,0,0.5) 60%);
}

.image-carousel__container .image-carousel__view-box-left {
	background: linear-gradient(-90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.65) 30%, rgba(0,0,0,0.9) 65%)
}
.image-carousel__container .image-carousel__view-box-right {
	background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.65) 30%, rgba(0,0,0,0.9) 65%)
}

@media screen and (min-width: 600px) {
	.image-carousel__container .image-carousel__view-box-center {
		background: radial-gradient(circle, rgba(0,0,0,0.05) 35%, rgba(0,0,0,0.2) 45%, rgba(0,0,0,0.5) 70%);
	}
}

@media screen and (min-width: 1024px) {
	.image-carousel__container .image-carousel__view-box-center {
		background: radial-gradient(circle, rgba(0,0,0,0.05) 35%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 70%);
	}
	.image-carousel__container .image-carousel__view-box-left {
		background: linear-gradient(-90deg, rgba(0,0,0,0.5) 5%, rgba(0,0,0,0.7) 30%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.9) 70%);
	}
	.image-carousel__container .image-carousel__view-box-right {
		background: linear-gradient(90deg, rgba(0,0,0,0.5) 5%, rgba(0,0,0,0.7) 30%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.9) 70%);
	}
}

.image-carousel__container .image-carousel__view-box-links {
	position: absolute;
    left: 0; top: 0;
	height: 100%;
	display: flex;
}

.image-carousel__container .image-carousel__view-box-links a {
	height: 100%;
}

.image-carousel__container .image-carousel__images-view {
	overflow: hidden;
    width: 100%;
    height: 100%;
}

.image-carousel__container .image-carousel__images-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;

	transition: transform 1s ease-in-out;
}

.image-carousel__container .image-banner__content {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: var(--section-padding);
    padding-top: var(--section-padding);
    color: #fff;
}

.image-carousel__container .image-banner__content .description-with-image__title {
    font-family: var(--font-heading-1);
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 0;
}

.image-carousel__container  .underline__container {
    background-color: #fff;
}

.image-carousel__container .image-overlay {
	width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.3;
}

.image-carousel__container .image-wrapper {
	display: flex;
	height: 100%;
    width: auto;
    position: relative;
}

.image-carousel__container img {
	width: auto;
	height: 100%;
	object-position: left;
}
@media screen and (min-width: 600px) {
	.image-carousel__container img {
		object-position: right;
	}
}

.image-carousel__container .image-wrapper a {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image-carousel__container .image-wrapper a .tooltip {
    background-color: var(--hermes-blue-2);
    /background-color: #00000061;
    border-radius: 100px;
    padding: 6px;
    transform: translateY(-3px);
}

.image-carousel__container .image-wrapper a .tooltip .icon {
    padding: 0;
    width: 24px; height: 24px;
    background-color: var(--hermes-green-1);
}
@media screen and (min-width: 600px) {
	.image-carousel__container .image-wrapper a .tooltip {
    	padding: 8px;
	}

	.image-carousel__container .image-wrapper a .tooltip .icon {
	    width: 32px; height: 32px;
	}
}
@media screen and (min-width: 1024px) {
	.image-carousel__container .image-wrapper a .tooltip {
    	padding: 6px;
	}

	.image-carousel__container .image-wrapper a .tooltip .icon {
	    width: 26px; height: 26px;
	}
}
@media screen and (min-width: 1200px) {
	.image-carousel__container .image-wrapper a .tooltip {
    	padding: 8px;
    	transform: translateY(-5px);
	}

	.image-carousel__container .image-wrapper a .tooltip .icon {
	    width: 30px; height: 30px;
	}
}

.image-carousel__container  .image-banner__text {
	margin: 0;
	margin-top: 30px;
	width: 75%;
    font-family: var(--font-heading-2);
    letter-spacing: 1px;	
	font-size: 17px;
}

.image-carousel__container .cta-btn {
    margin-top: 24px;
	font-size: 16px;
	font-family: var(--font-heading-2);
    letter-spacing: 4px;
    padding: 4px 20px;
	background-color: var(--btn-color-2);
	background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 26px;	
    padding: var(--btn-padding-sm);
    text-transform: uppercase;
}

@media screen and (min-width: 600px) {
	.image-carousel__container  .image-banner__text {
		margin-top: 40px;
		width: 50%;
		font-size: 20px;
	}

	.image-carousel__container .cta-btn {
    	margin-top: 40px;
    	padding: 13px 32px;	
	}
}