
.text-block__container .text-block__inner-section {
    display: flex;
    background:  rgb(241, 241, 242);
    margin: 40px 0;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .text-block__container .text-block__inner-section {
        flex-direction: row;
    }
}

.text-block__container .section-subheading,
.text-block__container p {
    margin: 0;
    padding: var(--section-padding);
}

.text-block__container .section-subheading {
    flex: 1 1 30%;
    font-family: var(--font-heading-1);
    font-size: 24px;
    font-weight: 400;
    text-transform: lowercase;

    padding-bottom: 0;
    color: #303030;
}

.text-block__container p {
    flex: 1 1 70%;

    font-family: var(--font-heading-2);
    letter-spacing: 1px;
    color: #666666;
    font-size: 17px;
}

