@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
/* MEDIA BREAKPOINTS
	600
	1024
	1366
*/
@import url("fonts.css");

:root {
	--section-padding: 26px;
	--navigation-height:  96.07px;
	--page-p-top: 80px;

	--btn-padding-x-lg: 13px 32px;
	--btn-padding-lg: 10px 24px;
	--btn-padding-md: 5px 20px;
	--btn-padding-sm: 4px 16px;

	--main-color: var(--hermes-orange-1);
	--overlay-color: rgb(243 112 33 / 85%);
	--hermes-orange-1: #f37021;
	--hermes-orange-2: #FD5E0F;
	--hermes-red-1: #fd420f;
	--hermes-green-1: rgb(0 177 142); /* #00B18E */
	--hermes-green-2: rgb(1 157 120); /* #019D78 */
	--btn-color-1: #ff9a5b;
	--btn-color-2: #ff8338;
	--btn-color-3: #ff6200;
	--hermes-blue-1: #07646e;
	--hermes-blue-2: #277881 ;

	--font-heading-1: 'CS1', serif;
	--font-heading-2: 'Cervo Thin', serif;

	--breakpoint-tablet:  600px;
	--breakpoint-dekstop:  1024px;
}

@media screen and (min-width: 600px) {
	:root {
		--section-padding: 40px;
		--navigation-height: 99.48px;
	}
}

@media screen and (min-width: 1024px) {
	:root {
		--section-padding: 80px;
		--navigation-height: 107.47px;
	}
}

html {
	width: 100%;
}

body {
	box-sizing: border-box;
	margin: 0;
	font-family: var(--font-heading-1), 'Product Sans', 'Gilroy', 'Gotham', 'Avenir LT Std', sans-serif;
    scroll-behavior: smooth;
  width: 100%;
}

.image-wrapper {
	display: inline-flex;
	margin: 0; padding: 0;
	width: 100%; height: 100%;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.loader {
	/*background: url("./../../images/Dual Ring-1s-200px.png") no-repeat center;*/
	/*background: url("./../images/kinokuke-logo.png") no-repeat center;*/
  	background-size: contain;
  	position: absolute;
	top: calc(50% - 4em);
	left: calc(50% - 4em);
	width: 100px;
  height: 100px;
	animation: heartbeat 3s infinite linear;
}

@keyframes heartbeat {
 	0% {
    transform: scale( .75);
    opacity: .6;
  }
  20% {
    transform: scale( 1);
    opacity: 1;
  }
  40% {
    transform: scale( .75);
    opacity: .6;
  }
  60% {
    transform: scale( 1);
    opacity: 1;
  }
  80% {
    transform: scale( .75);
    opacity: .6;
  }
  100% {
    transform: scale( .75);
    opacity: .6;
  }
}

/* 
	NAVIGATION  
*/

.navigation-bar__container {
	position: relative;
	/height: var(--navigation-height);
	z-index: 100;
}

.navigation-bar__container.hidden { display: none; }

.navigation-bar__container a {
	text-decoration: none;
}

.navigation-bar__wrapper {
	box-sizing: border-box;
	display: inline-flex;
	justify-content: space-between;
  width: 100%;
  align-items: center;
  position: fixed;
  padding: 20px var(--section-padding);
  background: transparent; 
  /*background:  #fff;*/

  transition: margin-top .4s ease-in-out, background .4s ease-in-out;
  will-change: margin-top;
}

.navigation-bar__container.menu-shown .navigation-bar__wrapper {
  background: #FFF;
}

.navigation-bar__wrapper.scrolling {
  background: #FFF;
  border-bottom: 1px solid #c5c5c5;
	/margin-top: -140px;
}

@media screen and (min-width: 1024px) {
	.navigation-bar__wrapper {
  	padding: 24px var(--section-padding);
		justify-content: flex-start;
	}
}

.navigation-bar__wrapper .logo-container {
	position: relative;
}

.navigation-bar__wrapper .kinokuke-logo__container.white {
	position: absolute;
	left: 0;
	top: 0;
}

.navigation-bar__wrapper .kinokuke-logo__container {
	transition: opacity .3s ease-in-out;
}

.navigation-bar__container.menu-shown .kinokuke-logo__container.black,
.navigation-bar__wrapper .kinokuke-logo__container.white,
.navigation-bar__wrapper.scrolling .kinokuke-logo__container.black {
	opacity: 1;
}

.navigation-bar__container.menu-shown .kinokuke-logo__container.white,
.navigation-bar__wrapper.scrolling .kinokuke-logo__container.white,
.navigation-bar__wrapper .kinokuke-logo__container.black {
	opacity: 0;
}

.kinokuke-logo__container .logo-wrapper {
		width: 66px;
		display: flex;
}
@media screen and (min-width: 600px) {
	.kinokuke-logo__container .logo-wrapper {
		width: 70px;
	}
}

@media screen and (min-width: 1024px) {
	.navigation-bar__container.submenu-shown .kinokuke-logo__container.black {
		opacity: 0;
	}
	.navigation-bar__container.submenu-shown .kinokuke-logo__container.white {
		opacity: 1;
	}
}

.kinokuke-logo__container .logo-wrapper img {
	max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}


.navigation-bar__container .burger-menu.open,
.navigation-bar__container.menu-shown .burger-menu.closed {
	display: none;
}

.navigation-bar__container.menu-shown .burger-menu.open {
	display: inline-flex;
}

.navigation-bar__container .burger-menu .icon {
	width: 27px;
  height: 25px;
  background-color: #000;
  transition: background .3s ease-in-out;
}

.navigation-bar__container .burger-menu.icon-menu-medium .icon {
  background-color: #FFF;
}

.navigation-bar__wrapper.scrolling .burger-menu.icon-menu-medium .icon {
  background-color: #000;
}

@media screen and (min-width: 600px) {
	.navigation-bar__container .burger-menu .icon {
		width: 30px;
    height: 28px;
	}
}

@media screen and (min-width: 1024px) {
	.icon_container.show-mobile {
		display: none;		
	}
}



.navigation-bar__navigation {
	display: inline-flex;
  justify-content: space-between;

  position: absolute;
  flex-direction: column;

	width: 99%;
  border-radius: 0 20px 20px 0;
	border: 1px solid #d5d5d5;
	border-left: none;

	transition: width .5s ease-in-out, left .5s ease-in-out;

	padding: 20px 0;
  left: -100%;
  top: var(--navigation-height);
  background-color: #fff;
}

.navigation-bar__container.menu-shown .navigation-bar__navigation {
	left: 0;
}

.navigation-bar__container.submenu-shown .navigation-bar__navigation {
	width: 33%;
}

.navigation-bar__navigation-container {
	display: inline-flex;
	align-items: flex-start;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
	.navigation-bar__navigation {
		flex-direction: row;
  	width: 100%;
		position: unset;
		left: unset;
		top: unset;
  	background-color: transparent;
  	border: none;
  	border-radius: none;
  	margin-left: 30px;
  	padding: 0;
	}

	.navigation-bar__navigation-container {
		flex-direction: row;
		align-items: center;
	}

	.navigation-bar__container.submenu-shown .navigation-bar__navigation {
		width: 100%;
	}
}


.navigation-bar__navigation-container[data-level="1"] a {
	color: #000;
}

.navigation-bar__navigation-container[data-level="2"] {
	/display: none;
  position: absolute;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--main-color);
  color: white;
  z-index: -1;
  box-sizing: border-box;
  transition: top .3s ease-in-out, width .5s ease-in-out;

  border-radius: 20px 0 0 20px;

  width: 100%;
  right: -202%;

  right: -202%;
  top: 0;
}

.navigation-bar__container.submenu-shown .navigation-bar__navigation-container[data-level="2"] {
  width: 200.9%;
}

@media screen and (min-width: 1024px) {
	.navigation-bar__navigation-container[data-level="2"] {
  	width: 100%;
  	top: -331px;
  	right: unset;
  	left: 0;
	  background-color: #000;
	  background-color: var(--overlay-color);
	  background-color: var(--main-color);
	  padding-top: calc(var(--navigation-height) + 30px);
	  padding-bottom: 50px;

 	 	border-radius: 0px 0 30px 30px;
	}

	.navigation-bar__container.submenu-shown .navigation-bar__navigation-container[data-level="2"] {
		width: 100%;
	  top: 0;
	}
}


.navigation-bar__navigation-item {
	list-style: none;
}

.navigation-bar__navigation .navigation-bar__navigation-item {
	width: 100%;
}

.navigation-bar__navigation .navigation-bar__navigation-item[data-level="2"] {
	margin-top: var(--section-padding);
}
.navigation-bar__navigation .navigation-bar__navigation-item[data-level="2"]:first-child {
	margin-top: 0;
}

@media screen and (min-width: 1024px) {
	.navigation-bar__navigation .navigation-bar__navigation-item {
		margin-right: 30px;
		width: auto;
	}

	.navigation-bar__navigation .navigation-bar__navigation-item[data-level="2"] {
		margin-top: 0;
	}
}
.navigation-bar__navigation-item.findyourhome {
  padding: 7px 15px;
  padding: var(--btn-padding-md);
  padding-top: 8px;
  line-height: 1;
	border-radius: 100px;
	background-color: var(--btn-color-1);
  transition: background .3s ease-in-out;
	display: flex;
	align-items: center;
}

.navigation-bar__navigation-item.findyourhome.show-desktop {
	display: none;
}

@media screen and (min-width: 1024px) {
	.navigation-bar__navigation-item.findyourhome.show-mobile {
		display: none;
	}

	.navigation-bar__navigation-item.findyourhome.show-desktop {
		display: block;
		padding: var(--btn-padding-lg);
	}
}

.navigation-bar__navigation-item.findyourhome:hover {
	background-color: #ff8338;
}

.navigation-bar__navigation-item.findyourhome a {
	color: #fff;
	display: flex;
	align-items: center;
	line-height: 1;
}

.navigation-bar__navigation-item:last-child {
	margin-right: 0px;
}

.navigation-bar__navigation-item-label {
	display: flex;
	align-items: flex-start;
	transition: color .3s ease;
	font-family: var(--font-heading-1);
	font-size: 16px;
	font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;

	box-sizing: border-box;
	padding: 20px var(--section-padding);
	width: 100%;
}

.navigation-bar__navigation-item.selected .navigation-bar__navigation-item-label {
	border: 3px solid var(--main-color);
  border-radius: 100px;
  color: var(--main-color);
  padding-left: calc(var(--section-padding) - 3px);
}

.navigation-bar__navigation-item.findyourhome .navigation-bar__navigation-item-label {
	font-family: var(--font-heading-2);
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 4px;
  line-height: 1;
	padding: 0;
}

@media screen and (min-width: 600px) {
	.navigation-bar__navigation-item-label {
  	font-size: 20px;
	}

	.navigation-bar__navigation-item.findyourhome .navigation-bar__navigation-item-label {
		font-size: 14px;
	}
}


@media screen and (min-width: 1024px) {
	.navigation-bar__navigation-item-label {
  	font-size: 20px;
    font-weight: 500;

    padding: 0;
    padding-bottom: 2px;
    width: auto;
		align-items: center;
		color:  #FFF;
	}

	.navigation-bar__navigation-item.findyourhome .navigation-bar__navigation-item-label {
    padding-top: 1px;
	}

	.navigation-bar__navigation-item.selected .navigation-bar__navigation-item-label {
		border: none;
  	padding-left: 0;
	}

	.navigation-bar__container .navigation-bar__wrapper.scrolling .navigation-bar__navigation-item-label{
		color: #000;
	}

	.navigation-bar__container.submenu-shown .navigation-bar__navigation-item-label,
	.navigation-bar__container.submenu-shown .navigation-bar__wrapper.scrolling .navigation-bar__navigation-item-label {
		color: #fff;
	}
}


/* SECTION SETTINGS */

.section {
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--section-padding);
	padding-right: var(--section-padding);
}

.section-heading,
.section-subheading {
	margin: 0;
  font-family: var(--font-heading-2);
}

.section-heading {
  font-size: 22px;
  letter-spacing: 3px;
  line-height: 1;
	text-transform: uppercase;
}

.section-subheading {
	font-size: 16px;
	opacity: 0.85;
	text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}


@media screen and (min-width: 600px) {
	.section-heading {
  	font-size: 26px;
	}
	.section-subheading {
		font-size: 20px;
	}
}

@media screen and (min-width: 1024px) {
	.section-heading {
  	font-size: 32px;
	}
	.section-subheading {
		font-size: 22px;
	}
}



.cta-btn {
	border-radius: 100px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  background: none;
  padding: 10px 24px;
  transition: all .3s ease-in-out;
}

.cta-btn:hover {
	opacity: 0.8;
}

.navigation-bar__container .section-heading,
.navigation-bar__container .section-subheading {
	text-transform: none;
	color: white;
	font-size: 16px;
	font-family: var(--font-heading-1);
}

.navigation-bar__container .section-heading {
	font-size: 17px;
}

.navigation-bar__container .section-subheading {
	font-family: var(--font-heading-2);
	font-weight: 400;
  letter-spacing: 3px;
}

@media screen and (min-width: 600px) {
	.navigation-bar__container .section-heading {
		font-size: 24px;
	}

	.navigation-bar__container .section-subheading {
		font-size: 22px;
	}
}

@media screen and (min-width: 1024px) {
	.navigation-bar__container .section-heading {
		font-size: 28px;
	}

	.navigation-bar__container .section-subheading {
		font-size: 24px;
	}
}

.underline__container {
	background: #000;
  width: 110px;
  height: 3px;
  height: 1px;
  margin: 6px auto;
  border-radius: 100px;
}

.fullwidth-heading {
	padding: 0 var(--section-padding);
	font-family: var(--font-heading-1);
	font-size: 20px;
	font-weight: 500;
  margin-top: 23px;
  margin-bottom: 13px;
}

.fullwidth-heading span {
	opacity: 0.4;
}

@media screen and (min-width: 600px) {
	.underline__container {
  	width: 130px;
	}

	.fullwidth-heading {
		font-size: 26px;
		margin-top: 30px;
		margin-bottom: 15px;
	}
}

@media screen and (min-width: 1024px) {
	.underline__container {
  	width: 140px;
		margin: 10px auto;
		height: 2px;
	}

	.fullwidth-heading {
		font-size: 30px;
		margin-top: 30px;
		margin-bottom: 15px;
	}
}

.fullheight-heading {
    box-sizing: border-box;
    padding: 12% 6px;
}

.fullheight-heading .heading1 {
  font-size: 40px;
	font-weight: 600;
}

.fullheight-heading .heading2 {
	word-break: keep-all;
  font-size: 28px;
  color: #a3a3a3;
  font-weight: 500;
}

.newline-text {
	white-space: pre-line;
}

.icon_container {
	display: inline-flex;
}

.icon {
	width: 20px;
	height: 20px;
	background-color: #000;
}

.nav-arrow {
  align-items: center;
  transform: scaleY(2);

  cursor: pointer;
  z-index: 10;
}
.nav-arrow.disabled {
	opacity: 0.4;
}

.nav-arrow.left { left: 2px; }
.nav-arrow.right { right: 2px; }

.nav-arrow.flying {
	position: absolute;
  top: 50%;
  transform: translateY(-50%) scaleY(2);
}

.nav-arrow.highlight {
  border-radius: 50%;
  background-color: #f3702142;
  background-color: #277881a1;
  padding: 6px;
}

.nav-arrow .icon {
  width: 32px;
  height: 32px;
  background-color: var(--main-color);
}

.nav-arrow.highlight .icon {
  transform: translateX(5px);
}

@media screen and (min-width: 600px) {
	.nav-arrow {
  	transform: scaleY(2.5);
	}
  .nav-arrow.flying {
    transform: translateY(-50%) scaleY(2.5);
  }

	.nav-arrow.highlight {
  	padding: 9px;
	}

	.nav-arrow .icon {
		width: 50px;
  	height: 50px;
	}
}


.navigation-bar__container .icon-chevron-bold-bottom {
	position: absolute;
	right: 30px;
}

.navigation-bar__container.submenu-shown .icon-chevron-bold-bottom {
	right: 6px;
}

.navigation-bar__container .icon-chevron-bold-bottom .icon {
	transform: rotate(-90deg);
	width: 18px;
	height: 18px;
	transition: transform .3s ease-in-out;
}

.navigation-bar__container .navigation-bar__navigation-item.selected .icon-chevron-bold-bottom .icon {
	background-color: var(--main-color);
}

.navigation-bar__container .navigation-bar__navigation .underline__container {
	margin-left: 0;
}

@media screen and (min-width: 600px) {
	.navigation-bar__container.submenu-shown .icon-chevron-bold-bottom {
		right: 14px;
	}
}

@media screen and (min-width: 1024px) {
	.navigation-bar__container .icon-chevron-bold-bottom,
	.navigation-bar__container.submenu-shown .icon-chevron-bold-bottom {
		position: relative;
		right: unset;
		transform: translateY(2px);
	}

	.navigation-bar__container .icon-chevron-bold-bottom .icon {
		width: 12px;
		height: 12px;
		margin-left: 4px;
		transform: rotate(180deg);
		background-color: #FFF;
	}

	.navigation-bar__container.submenu-shown .icon-chevron-bold-bottom .icon {
		background-color: #fff;
		transform: rotate(0deg);

	}

	.navigation-bar__container .navigation-bar__wrapper.scrolling .icon-chevron-bold-bottom .icon {
		background-color: #000;
	}

	.navigation-bar__container .navigation-bar__navigation-item.selected .icon-chevron-bold-bottom .icon {
		background-color: #fff;
	}

}

/* WIDGETS  */

.whatsapp_widget_pop {
	    position: absolute;
    bottom: 40px;
}