@import '@css/include/utilities';
@import '@css/theme';



/*
.gallery-carousel__c .gallery-carousel__houses-container{
	display: flex;
	transition: transform .4s ease-in-out;
}

.gallery-carousel__c .gallery-carousel__item {
	flex: 0 0 100%;	
	display: flex;
	flex-direction: column;
}

.gallery-carousel__c a {
	text-decoration: none;
	    display: flex;
    flex-direction: column;
    flex: 1;
}

.gallery-carousel__c h2 {
	font-family: var(--font-heading-1);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
	text-align: center;
	margin:  0;
	padding: 10px 0;
	background-color: var(--main-color);
	color: white;
}

@media screen and (min-width: 600px) {
	.gallery-carousel__c.col-3 .gallery-carousel__item {
		flex: 0 0 calc(100% / 2);	
    	border-right: 1px solid #7c6b60;
    	box-sizing: border-box;
	}

	.gallery-carousel__c .gallery-carousel__item:last-child {
    	border-right: none;
	}

	.gallery-carousel__c h2 {
		font-size: 22px;
	}
}

@media screen and (min-width: 1024px) {
	.gallery-carousel__c.col-3 .gallery-carousel__item {
		flex: 0 0 calc(100% / 3);	
    	border-right: 1px solid #7c6b60;
	}

	.gallery-carousel__c .gallery-carousel__item:last-child {
    	border-right: none;
	}

	.gallery-carousel__c h2 {
		font-size: 24px;
		padding: 14px 0;
	}
}

.gallery-carousel__c .gallery-carousel__image-wrapper {
 	display: flex;
 	flex: 1;
}

.gallery-carousel__c img {
	width: 100%;
}


.gallery-carousel__c .gallery-carousel__navigation {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4px;
    display:  inline-flex;
}

.gallery-carousel__c .gallery-carousel__navigation-dot {
    border: 2px solid var(--btn-color-1);
    border: 2px solid var(--hermes-orange-2);
    border: 2px solid var(--hermes-red-1);
    border-radius: 72px;
    margin: 0 1px;
    padding: var(--btn-padding-sm);
    cursor: pointer;
}

@media screen and (min-width: 600px) {
	.gallery-carousel__c .gallery-carousel__navigation {
    	bottom: 6px;
	}

	.gallery-carousel__c .gallery-carousel__navigation-dot {
    	margin: 0 2px;
	    padding: var(--btn-padding-md);
	}
}

.gallery-carousel__c .gallery-carousel__navigation-dot.active {
	background-color: var(--overlay-color);
}
*/