@import '@css/theme';

.image-banner__c {
	@apply relative h-screen w-full;
/*
	position: relative;
	height: calc(100vh - var(--navigation-height));
	width: 100%;
*/
	> .image-banner__content {
		@apply absolute top-0 left-0 pt-[var(--space-outer)] pl-[var(--space-outer)];
		@apply text-white-primary;
		> .image-banner__title {
			@apply heading heading--lg;

		}
		> .image-banner__text { 
			@apply body body--md;
			@apply w-3/4 whitespace-pre-line m-0 mt-8 desk-sm:w-1/2 desk-sm:mt-10;
		}
		.cta-btn {
			@apply btn btn--outline btn--lg;
			@apply mt-6 desk-sm:mt-10;
		}
	}

	.image-banner__overlay {
		@apply bg-black opacity-40;
	}

	.image-background, 
	.image-wrapper {
		@apply flex;
	}
}
/*
.image-banner__c .image-banner__content {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: var(--space-outer);
    padding-top: var(--space-outer);
    color: #fff;
}
.image-banner__c .image-banner__content .description-with-image__title {
    font-family: var(--font-heading-1);
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 0;
}
*/

@media screen and (min-width: 600px) {
	.image-banner__c .image-banner__content .description-with-image__title {
		font-size: 42px;
	}
}

/*
.image-banner__c  .underline__container {
    background-color: #fff;
}
.image-banner__c .image-overlay {
	width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.4;
}

.image-banner__c .image-background,
.image-banner__c .image-wrapper {
	display: flex;
	height: 100%;
    width: 100%;
}
*/

@media screen and (min-width: 1024px) {
	.image-banner__c img {
		/object-position: right;
	}
}
/*
.image-banner__c  .image-banner__text {
	margin: 0;
	margin-top: 30px;
	width: 75%;
    font-family: var(--font-heading-2);
    letter-spacing: 1px;	
	font-size: 17px;
	white-space: pre-line;
}
.image-banner__c .cta-btn {
    margin-top: 24px;
	font-size: 16px;
    display: inline-block;
	vertical-align: baseline;
    line-height: 1;
	font-family: var(--font-heading-2);
    letter-spacing: 4px;
    padding: 4px 20px;
	background-color: var(--btn-color-2);
	background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 26px;	
    padding: var(--btn-padding-md);
    padding-top: 8px;
    text-transform: uppercase;
}

@media screen and (min-width: 600px) {
	.image-banner__c  .image-banner__text {
		font-size: 20px;
	}

	.image-banner__c .cta-btn {
    	padding: var(--btn-padding-lg);
    	font-size: 20px;
	}
}

@media screen and (min-width: 1024px) {
	.image-banner__c  .image-banner__text {
		margin-top: 40px;
		width: 50%;
		font-size: 20px;
	}

	.image-banner__c .cta-btn {
    	margin-top: 40px;
    	padding: var(--btn-padding-x-lg);
	}
}
*/
