@import '@css/theme';

.contact-page__c {
  @apply relative bg-hermes-orange-lighter pt-[var(--navigation-height)];

  .contact-page__map-wrapper {
    @apply relative;

    .image-banner__c {
      @apply h-[120vh];
    }

    .google-map__c {
      @apply h-4/5 w-[calc(100%-2*var(--space-outer))] bg-white;

      .google-map__map-title {
        @apply bg-hermes-orange-lighter px-[calc(var(--space-outer)/2)] py-[var(--space-outer)] text-white;
        @apply body body--lg;
        @apply text-center;
      }

      .google-map__map-wrapper {
        @apply flex-[1_1_80%] p-[calc(var(--space-outer)/2)];

        .google-map__location {
          .icon__c {
            @apply absolute left-1/2 top-0 -translate-x-1/2 -translate-y-12;
            @apply h-12 w-12;

            .icon {
              @apply bg-hermes-orange;
            }
          }
          span {
            @apply body body--md;
            @apply whitespace-nowrap text-xl font-semibold;
          }
        }
      }

      .google-map__address {
        @apply p-[var(--space-outer)] pt-[calc(var(--space-outer)/2)];

        h3 {
          @apply body body--xl;
          @apply mb-3;
        }
        p {
          @apply body body--lg;
          @apply mt-1 tracking-1;
        }
      }
    }
  }
}

/*

@media screen and (min-width: 1024px) {
    .contact-page__c .image-banner__container {
        height: 200vh;
    }

    .contact-page__c .google-map__c .google-map__map-title {
        padding: calc(var(--space-outer) / 2);
        font-size: 24px;
    }

    .contact-page__c .google-map__c .google-map__address h3 {
        font-size: 20px;
    }

    .contact-page__c .google-map__c .google-map__address p {
        font-size: 16px;
    }
}

*/
